*.iml
.gradle/
.idea/
app/build
build/
gradle/
local.properties


#build.gradle
#gradle.properties
#gradlew
#gradlew.bat
#settings.gradle
#app/libs/
#app/build.gradle
#app/src/androidTest
#app/src/main/res
#app/src/main/AndroidManifest.xml